{% extends "base.html" %}
{% block content %}
        <!---Hero Section-->
        <div class="main">
            <div class="outerBox">
                
                <form>
                    <div class="formBox" method="POST" id="formBox">
                        <H1 id="CCTitle">Create A Club</H1>
                        <div class="part1">
                            <div class="ClName">
                                <h2>Club Name</h2>
                                <input type="text" name="ClubName" id="ClubName" required>
                            </div>
                            <div class="ClubLeader">
                                <h2>Club Leader</h2>
                                <input type="text" name="ClubLeader" id="ClubLeader" required>
                            </div>
                        </div>
                        <div class="part2">
                            <div class="purpose">
                            <h2>Purpose</h2>
                            <textarea  placeholder="Write Short Description of Your Club..." name="ClubDescription" id="CCDes" required></textarea>
                            </div>
                        </div>

                        <div class="part3">
                
                            <div class="insta">
                                <h2>Instagram</h2>
                                <input type="url" name="Socials" id="Socials">
                            </div>
                            <div class="Discord">
                                <h2>Discord</h2>
                                <input type="url" name="Socials" id="Socials">
                            </div>
                            <div class="Twitter">
                                <h2>Twitter</h2>
                                <input type="url" name="Socials" id="Socials">
                            </div>
                        
                        </div>
                        <button class ="submit" type="button" id="createClub_Submit">Create Club</button>

                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}