{% extends "base.html" %}
{% block content %}

    <h3 id="TitleMyEvents">Your Club Events</h3>
    <div class="main_left_alt">
    {% for item in event_data %}
        {% ifchanged item.event.start_time|date:"D M d, Y" %}
            <h2 class="event_date">{{ item.event.start_time|date:"D M d, Y" }}</h2>
        {% endifchanged %}

        <div class="event_box">
            <div class= "event_text">
                <h1 class="event_name">{{ item.event.title }}</h1>
                <h2 class="event_club">Organized by: {{ item.club.club_name }}</h2>
                <p class="event_body_text">{{ item.event.description }}</p>
                <br>
                <p class="event_time">
                    <strong>Start:</strong> {{ item.event.start_time|date:"H:i" }}<br>
                    <strong>End:</strong> {{ item.event.end_time|date:"H:i" }}
                </p>
                <p class="event_location"><strong>Location:</strong> {{ item.event.location }}</p>
            </div>
        </div>

    {% empty %}
        <p>You have no upcoming events from your clubs.</p>
    {% endfor %}
</div>
<!-- Pagination Controls -->
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?query={{ query }}&page=1">&laquo; First</a>
        <a href="?query={{ query }}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?query={{ query }}&page={{ page_obj.next_page_number }}">Next</a>
        <a href="?query={{ query }}&page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
</div>
{% endblock %}
